<% include partials/header %>
<div class="container">
  <h1>Courses</h1>
  <div class='playlistDiv'%>
        <% playlists.forEach(function(playlist){  %>
          <% if(playlist.title !='Study Beats, Programming Instrumentals') { %>
              <h2> <a href='/courses/<%=playlist.playlistId%>'> <%= playlist.title %> </h2>
              <img src= '<%= playlist.thumbnail %>' width='15%' height='15%' class='img-responsive center' > </a>
              <p class='descriptionText'> <%= playlist.description %> </p>

              <ul>
                <% for(let i = 0; i < playlist.videos.length; i++)  {%>
                    <li class= 'videoTitle'>
                      <%=  playlist.videos[i].title %>
                    </li>
                <% } %>
                </ul>
            <% } %>
        <% }); %>
      </div>
    </div>
<% include partials/footer %>
